<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="soapResponse"></div>
</body>
<script>
    $(document).ready(function() {
        // Retrieve the SOAP response content from the query parameter
        var soapResponse = decodeURIComponent(getQueryParam('soapResponse'));
        // Display the SOAP response content
        $("#soapResponse").text(soapResponse);
    });

    // Function to get query parameters from URL
    function getQueryParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }
</script>
</html>