<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjIcsSv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        .carousel {
            margin-top: 20px;
        }
        footer {
            padding-top: 20px;
        }
        .update-btn2 {
            background-color: white;
            color: #182052;
            border: 2px solid #182052;
            border-radius: 20px;
            padding: 5px 15px;
            cursor: pointer;
        }
        .card2 {
            background-color: #182052;
            color: white;
            border-radius: 20px;
            width: 45%;
            margin-right: 30px;
            margin-bottom: 20px;
            display: inline-block;
        }

        .card-text {
            color: white;
        }

        .pagination {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<header th:insert="header :: head"></header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div id="accountDetails" class="mt-3"></div>
        </div>
    </div>
    <div id="pagination" class="mt-3"></div>
    <div id="errorMessage" class="alert alert-danger mt-3 d-none"></div>
</div>

<footer th:insert="footer :: foot"></footer>
</body>
<script>
    let currentPage = 1;
    const itemsPerPage = 2;

    function changePage(page) {
        currentPage = page;
        fetchActiveAccounts();
    }

    function fetchActiveAccounts() {
        var soapRequest = `<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:acc="http://accounts.services">
            <soapenv:Header/>
            <soapenv:Body>
                <acc:filterByStatusRequest>
                </acc:filterByStatusRequest>
            </soapenv:Body>
        </soapenv:Envelope>`;

        $.ajax({
            url: "http://localhost:8082/accountsrepo/accounts.wsdl",
            type: "POST",
            dataType: "xml",
            contentType: "text/xml;charset=utf-8",
            data: soapRequest,
            success: function(response) {
                var accounts = $(response).find("ns2\\:accounts");

                if (accounts.length === 0) {
                    let errorMessage = "No active accounts found.";
                    window.location.href = "/customer/error/?message=" + encodeURIComponent(errorMessage)+ "&code=" + encodeURIComponent(200);
                    return;
                }

                var accountDetailsHTML = "<h2>Active Accounts</h2>";


                var startIndex = (currentPage - 1) * itemsPerPage;
                var endIndex = startIndex + itemsPerPage;

                accounts.each(function(index) {
                    if (index >= startIndex && index < endIndex) {
                        var accountId = $(this).find("ns2\\:accountId").text();
                        var accountNumber = $(this).find("ns2\\:accountNumber").text();
                        var customerId = $(this).find("ns2\\:customerId").text();
                        var accountType = $(this).find("ns2\\:accountType").text();
                        var accountStatus = $(this).find("ns2\\:accountStatus").text();
                        var accountBalance = $(this).find("ns2\\:accountBalance").text();

                        var accountHTML = `
                            <div class="card2 mt-3">
                                <div class="card-body">
                                    <p class="card-text">Account Number: ${accountNumber}</p>
                                    <p class="card-text">Account Type: ${accountType}</p>
                                    <p class="card-text">Account Status: ${accountStatus}</p>
                                    <p class="card-text">Account Balance: ${accountBalance}</p>
                                    <button class="update-btn2" onclick="redirectToCloseAccountPage('${accountNumber}', '${accountType}', '${accountStatus}', '${accountBalance}')">CLOSE ACCOUNT</button>
                                </div>
                            </div>
                        `;

                        accountDetailsHTML += accountHTML;
                    }
                });

                $("#accountDetails").html(accountDetailsHTML);

                $("#errorMessage").addClass("d-none");

                renderPagination(accounts.length);
            },
            error: function(xhr, status, error) {
                let errorMessage = xhr.responseText;
                let errorCode = xhr.status;
                window.location.href = "/customer/error/?message=" + encodeURIComponent(errorMessage) + "&code=" + encodeURIComponent(errorCode);
            }
        });
    }

    function renderPagination(totalItems) {
        const totalPages = Math.ceil(totalItems / itemsPerPage);
        let paginationHTML = "";
        for (let i = 1; i <= totalPages; i++) {
            const liClass = (i === currentPage) ? "page-item active" : "page-item";
            paginationHTML += `<li class="${liClass}"><button class="page-link" onclick="changePage(${i})">${i}</button></li>`;
        }
        $("#pagination").html(`<nav aria-label="Page navigation"><ul class="pagination">${paginationHTML}</ul></nav>`);
    }

    // function redirectToCloseAccountPage(accountNumber, accountType, accountStatus, accountBalance) {
    //     // Construct URL with parameters
    //     var url = "/customer/update?accountNumber=" + encodeURIComponent(accountNumber) +
    //         "&accountType=" + encodeURIComponent(accountType) +
    //         "&accountStatus=" + encodeURIComponent(accountStatus) +
    //         "&accountBalance=" + encodeURIComponent(accountBalance);
    //     window.location.href = url;
    // }

    function redirectToCloseAccountPage(accountNumber, accountType, accountStatus, accountBalance) {
        // Store account details in session storage
        var accountDetails = {
            accountNumber: accountNumber,
            accountType: accountType,
            accountStatus: accountStatus,
            accountBalance: accountBalance
        };
        sessionStorage.setItem('accountDetails', JSON.stringify(accountDetails));

        window.location.href = "/customer/update";
    }
    fetchActiveAccounts();
</script>
</html>
