<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body, html {
            min-height: 100vh;
            margin: 0;
            padding: 0;
            background-size: cover;
            background-position: center;
        }

        .navbar {
            background-color: peachpuff;
            margin-bottom: 30px;
        }
        .nav-item{
            color: white;
        }
    </style>
</head>
<body>
<div th:fragment="collapse">
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My Bank</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="view btn btn-outline-secondary rounded-5 me-2"  th:href="@{'/ui/newTransaction'}" target="pageFrame">New Transaction</a>
                </li>
                <li class="nav-item">
                    <button class="logout btn btn-outline-primary rounded-5 me-2"><span class="bi bi-box-arrow-right"></span> Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</body>
</html>


